*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#000;
color:#fff;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
position:fixed;
width:100%;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:55px;
color:#FFD700;
}

.hero p{
margin:20px;
font-size:20px;
color:#ccc;
}

.btn{
background:#0057ff;
padding:15px 30px;
color:white;
text-decoration:none;
border-radius:50px;
transition:.3s;
}

.btn:hover{
background:#FFD700;
color:black;
}
